body{
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 11%, rgba(30,9,121,0.9387464387464387) 86%);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#form{
    width: 400px;
    margin: 20vh auto 0 auto;
    background-color: whitesmoke;
    padding: 30px;
}
h1{
    text-align: center;
    color: #792099;
}
#btn{
    background-color: #792099;
    color: white;
    border: 1px solid #792099;
    border-radius: 4px;
    padding: 10px;
    margin: 20px 0px;
    cursor: pointer;
    font-size: 20px;
    width: 100%;

}
.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.input-group input{
    border-radius: 4px;
    font-size: 20px;
    margin-top: 5px;
    padding: 4px 0px 4px 10px;
    border-color: rgb(0,212,255);
}

.input-group input:focus{
    outline: 0;
}

.input-group .error{
    color: red;
    font-size: 16px;
    margin-top: 5px ;
}

.input-group.success input{
    border-color: greenyellow;
}

.input-group.error input{
    border-color: red;
}

.password-input-container {
    position: relative;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust this value to position the icon as needed */
    transform: translateY(-50%);
    cursor: pointer;
}
